

  nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav ul li a {
            text-decoration: none;
            color: black;
            padding: 5px;
        }

        nav ul li a.active {
            text-decoration: underline;
            color: blue;
        }



        li{
            color: red;
        }